.logo img{
    height: 70px;
    width: 70px;
}

.nav-link .li {
    margin-right: 50px;
    font-size: 20px;
}

.nav-link .li:hover{
    color: orange;
}
.link {
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
    color: #002043;
    transition: color ease-in-out 300ms;
  }
  .link:hover {
    color: #1b4388;
  }
  
  .active-link {
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
    /* transition: color ease-in-out 300ms; */
    color: crimson;
  }
  